{% set map = salt['grains.filter_by']({

    'Debian': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['1024', '2048', '4096'],
        'user': 'nobody',
        'group': 'nogroup',
        'multi_services': salt['grains.has_value']('systemd'),
    },

    'Ubuntu': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['1024', '2048', '4096'],
        'user': 'nobody',
        'group': 'nogroup',
        'multi_services': salt['grains.has_value']('systemd'),
    },

    'Amazon': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['1024', '2048', '4096'],
        'user': 'nobody',
        'group': 'nobody',
    },

    'Arch': {
        'pkgs': ['openvpn','easy-rsa'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['1024','2048'],
        'user': 'nobody',
        'group': 'nobody',
        'multi_services': salt['grains.has_value']('systemd'),
    },

    'CentOS': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/etc/openvpn',
        'dh_files': ['1024', '2048'],
        'user': 'nobody',
        'group': 'nobody',
        'multi_services': salt['grains.has_value']('systemd'),
    },

    'FreeBSD': {
        'pkgs': ['openvpn'],
        'service': 'openvpn',
        'conf_dir': '/usr/local/etc/openvpn',
        'dh_files': ['1024', '2048', '4096'],
        'user': 'openvpn',
        'group': 'openvpn',
        'multi_services': true,
    },

}, grain='os', merge=salt['pillar.get']('openvpn:lookup')) %}
